{% extends "base.html" %}
{% block title %}Your Tasks{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='showtasks.css') }}">

<div class="tasks-page">
  <h2>Your Tasks</h2>
  <table class="tasks-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td class="actions">
          <form action="{{ url_for('delete_task', id=task.id) }}" method="POST">
            <button type="submit" class="delete-button">Delete</button>
          </form>
          <div class="up">
          <a href="{{ url_for('update_task', id=task.id) }}" class="update-button">Update</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
